.slider-container {
    width: 60%;
    margin: 30px auto;
}

@media (min-width : 1281px) {

    .slider-container {
        width: 500px;
    }
}

.carousel-image-wrapper {
    height: 300px;
}

.carousel-image-wrapper>img {
    height: 100%;
}

@media (max-width : 425px) {

    .carousel-image-wrapper {
        height: 150px;
    }
}